body{
    background-color: #999;
    display: block;
    position: relative;
}

button{
    margin: auto;
    background-color: #ccc;
    width: 400px;
    height: 50px;
    margin-top: 10px;
}

.logo{
    margin: auto;
    width: 500px;
    height: 200px;
    margin-top: 10%;
    border: 3px solid green;
}

.buttons{
    margin: auto;
    width: 400px;

}

.file-input{
    margin: auto;
    margin-top: 10px;
}